<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cerrado de Sesión</title>
</head>
<body>
    <h1>Has cerrado sesión exitosamente</h1>
    <a href="{% url 'login' %}">Iniciar sesión</a>
    <a href="{% url 'inicio' %}">Volver a la página de inicio</a>
</body>
<!-- En la barra de navegación o en cualquier lugar donde quieras colocar el botón de logout -->
<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Cerrar sesión</button>
</form>


</html>
